<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center p-b-15">
            <div>
                <h4 class="card-title m-b-0">To Do List</h4>
            </div>
            <div class="ml-auto">
                <div class="dl">
                    <select class="custom-select border-0 text-muted">
                        <option value="0" selected="">August 2018</option>
                        <option value="1">May 2018</option>
                        <option value="2">March 2018</option>
                        <option value="3">June 2018</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="todo-widget scrollable" [perfectScrollbar]="config" style="height:422px;">
            <ul class="list-task todo-list list-group m-b-0" data-role="tasklist">
                <li class="list-group-item todo-item" data-role="task">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label todo-label" for="customCheck">
                            <span class="todo-desc">Simply dummy text of the printing and typesetting</span>
                            <span class="badge badge-pill badge-success float-right">Project</span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item todo-item" data-role="task">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label todo-label" for="customCheck1">
                            <span class="todo-desc">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum
                                has been.</span>
                            <span class="badge badge-pill badge-danger float-right">Project</span>
                        </label>
                    </div>

                </li>
                <li class="list-group-item todo-item" data-role="task">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label todo-label" for="customCheck2">
                            <span class="todo-desc">Ipsum is simply dummy text of the printing</span>
                            <span class="badge badge-pill badge-info float-right">Project</span>
                        </label>
                    </div>

                </li>
                <li class="list-group-item todo-item" data-role="task">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label todo-label" for="customCheck3">
                            <span class="todo-desc">Simply dummy text of the printing and typesetting</span>
                            <span class="badge badge-pill badge-info float-right">Project</span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item todo-item" data-role="task">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                        <label class="custom-control-label todo-label" for="customCheck4">
                            <span class="todo-desc">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum
                                has been.</span>
                            <span class="badge badge-pill badge-purple float-right">Project</span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item todo-item" data-role="task">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck5">
                        <label class="custom-control-label todo-label" for="customCheck5">
                            <span class="todo-desc">Ipsum is simply dummy text of the printing</span>
                            <span class="badge badge-pill badge-success float-right">Project</span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item todo-item" data-role="task">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck6">
                        <label class="custom-control-label todo-label" for="customCheck6">
                            <span class="todo-desc">Simply dummy text of the printing and typesetting</span>
                            <span class="badge badge-pill badge-primary float-right">Project</span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
