<div class="card border-0">
    <div class="p-3 bg-danger">
        <h5 class="card-title text-uppercase mb-0 text-white">Expance</h5>
        <div style="height: 160px;" class="d-flex flex-column">
            <apx-chart [series]="expanceChartOptions.series" [chart]="expanceChartOptions.chart"
                [dataLabels]="expanceChartOptions.dataLabels" [legend]="expanceChartOptions.legends"
                [colors]="expanceChartOptions.colors" [stroke]="expanceChartOptions.stroke"
                [labels]="expanceChartOptions.labels" [tooltip]="expanceChartOptions.tooltip"
                [plotOptions]="expanceChartOptions.plotOptions" [xaxis]="expanceChartOptions.xaxis"
                [yaxis]="expanceChartOptions.yaxis" [fill]="expanceChartOptions.fill"></apx-chart>
        </div>
    </div>
    <div class="d-flex align-items-center p-4 border-bottom">
        <div>
            <h2 class="font-medium">$458.90</h2>
            <h5 class="text-muted mb-0">Expence for December 1 to 10</h5>
        </div>
        <div class="ms-auto">
            <button class="btn btn-info btn-circle btn-lg">
                <i class="ti-plus"></i>
            </button>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-6 border-right border-bottom">
            <div class="d-flex align-items-center px-4 py-3">
                <h2 class="mb-0 text-info display-7">
                    <i class="ti-headphone-alt"></i>
                </h2>
                <div class="ms-4">
                    <h2 class="font-normal">$250</h2>
                    <h4>Entertainment</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 border-bottom">
            <div class="d-flex align-items-center px-4 py-3">
                <h2 class="mb-0 text-info display-7">
                    <i class="ti-home"></i>
                </h2>
                <div class="ms-4">
                    <h2 class="font-normal">$60.50</h2>
                    <h4>House Rent</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 border-right">
            <div class="d-flex align-items-center px-4 py-3">
                <h2 class="mb-0 text-info display-7">
                    <i class="far fa-paper-plane"></i>
                </h2>
                <div class="ms-4">
                    <h2 class="font-normal">$28</h2>
                    <h4>Travel</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 border-sm-top">
            <div class="d-flex align-items-center px-4 py-3">
                <h2 class="mb-0 text-info display-7">
                    <i class="ti-shopping-cart"></i>
                </h2>
                <div class="ms-4">
                    <h2 class="font-normal">$70</h2>
                    <h4>Shopping</h4>
                </div>
            </div>
        </div>
    </div>
</div>