<div class="card">
    <div class="p-3">
        <h5 class="card-title text-uppercase">Finance</h5>
        <div class="d-flex flex-column">
            <apx-chart [series]="FinanceChartOptions.series" [chart]="FinanceChartOptions.chart"
                [dataLabels]="FinanceChartOptions.dataLabels" [legend]="FinanceChartOptions.legends"
                [colors]="FinanceChartOptions.colors" [stroke]="FinanceChartOptions.stroke"
                [labels]="FinanceChartOptions.labels" [tooltip]="FinanceChartOptions.tooltip"
                [plotOptions]="FinanceChartOptions.plotOptions"></apx-chart>
        </div>
        <div class="d-flex align-items-center mt-1">
            <div>
                <h3 class="display-7"><span class="font-medium">56%</span></h3>
                <h5 class="text-muted mb-0">Increase in Nov</h5>
            </div>
            <div class="ml-auto">
                <button class="btn btn-success btn-circle btn-lg text-white">
                    <i class="ti-stats-up"></i>
                </button>
            </div>
        </div>
    </div>
</div>