<div class=" cus-container">
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="container">


                <!-- ============================================================== -->
                <!-- Info box -->
                <!-- ============================================================== -->
                <app-site-traffic></app-site-traffic>
                <!-- ============================================================== -->
                <!-- End Info box -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Map Chart and browser state-->
                <!-- ============================================================== -->
                <app-site-visit></app-site-visit>
                <!-- ============================================================== -->
                <!-- End Sales Chart -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-lg-4">
                        <app-browser></app-browser>
                    </div>
                    <!-- Real chart -->
                    <div class="col-lg-4">
                        <div class="card border-0">
                            <div class="card-body">
                                <h5 class="card-title">CPU LOAD</h5>
                                <div class="row">
                                    <div class="col-4 border-right">
                                        <h6>Usage</h6>
                                        <b>60GB</b>
                                    </div>
                                    <div class="col-4 border-right">
                                        <h6>Space</h6>
                                        <b>320 GB</b>
                                    </div>
                                    <div class="col-4">
                                        <h6>CPU</h6>
                                        <b>50%</b>
                                    </div>
                                </div>
                                <div>
                                    <div id="load" style="height:290px; width:100%;" class="m-t-40"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card border-0">
                            <img class="card-img" height="350" src="assets/images/big/img1.jpg" alt="Card image">
                            <div class="card-img-overlay card-inverse social-profile-first bg-over">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div>
                                        <img src="assets/images/users/1.jpg" class="rounded-circle" width="100">
                                        <h4 class="card-title text-white">John doe</h4>
                                        <h5 class="text-white">info@myadmin.com</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="m-b-0">12K</h3>
                                        <h5 class="fw-light">Followers</h5>
                                    </div>
                                    <div class="col">
                                        <h3 class="m-b-0">420</h3>
                                        <h5 class="fw-light">Following</h5>
                                    </div>
                                    <div class="col">
                                        <h3 class="m-b-0">128</h3>
                                        <h5 class="fw-light">Tweets</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>