<div class="card border-0">
    <div class="card-body">
        <h5 class="card-title text-uppercase mb-1">Feeds</h5>
        <div class="feed-widget">
            <ul class="feed-body list-style-none">
                <li class="feed-item d-flex align-items-center py-2" *ngFor="let f of feeds">
                    <button class="btn btn-{{f.color}} btn-circle">
                        <i class="{{f.icon}} text-white"></i>
                    </button>
                    <span class="ms-3 font-light">{{f.content}}</span>
                    <div class="ms-auto">
                        <span class="text-muted font-light">{{f.time}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>