<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div>
                <h4 class="card-title">Sales Ratio</h4>
            </div>
            <div class="ml-auto">
                <div class="dl m-b-10">
                    <select class="custom-select border-0 text-muted">
                        <option value="0" selected="">August 2018</option>
                        <option value="1">May 2018</option>
                        <option value="2">March 2018</option>
                        <option value="3">June 2018</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center no-block">
            <div>
                <span class="text-muted">This Week</span>
                <h3 class="mb-0 text-info font-light">$23.5K
                    <span class="text-muted font-12">
                        <i class="mdi mdi-arrow-up text-success"></i>18.6</span>
                </h3>
            </div>
            <div class="ml-4">
                <span class="text-muted">Last Week</span>
                <h3 class="mb-0 text-muted font-light">$945
                    <span class="text-muted font-12">
                        <i class="mdi mdi-arrow-down text-danger"></i>46.3</span>
                </h3>
            </div>
        </div>
        <div class="sales ct-charts mt-5 d-flex flex-column">
            <apx-chart [series]="salesChartOptions.series" [chart]="salesChartOptions.chart"
                [xaxis]="salesChartOptions.xaxis" [yaxis]="salesChartOptions.yaxis"
                [grid]="salesChartOptions.grid" [stroke]="salesChartOptions.stroke"
                [fill]="salesChartOptions.fill" [tooltip]="salesChartOptions.tooltip"
                [dataLabels]="salesChartOptions.dataLabels" [legend]="salesChartOptions.legend"
                [colors]="salesChartOptions.colors" [markers]="salesChartOptions.markers">
            </apx-chart>
        </div>
    </div>
</div>
