<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div>
                <h2 class="mb-0 font-medium">$354.50</h2>
                <h5 class="text-muted mb-0">Total Income</h5>
            </div>
            <div class="ml-auto">
                <div class="d-flex flex-column" style="height: 55px; width: 100px">
                    <apx-chart [series]="TotalincomeChartOptions.series" [chart]="TotalincomeChartOptions.chart"
                        [stroke]="TotalincomeChartOptions.stroke" [tooltip]="TotalincomeChartOptions.tooltip"
                        [fill]="TotalincomeChartOptions.fill" [plotOptions]="TotalincomeChartOptions.plotOptions">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>