<div class="card border-0">
    <div class="card-body">
        <h5 class="card-title">BROWSER STATS</h5>
        <div class="table-responsive">
            <table class="table browser mb-0 no-border no-wrap">
                <tbody>
                    <tr>
                        <td style="width:40px">
                            <img src="assets/images/browser/chrome-logo.png" alt="logo">
                        </td>
                        <td>Google Chrome</td>
                        <td align="right">
                            <span class="badge badge-pill badge-info">23%</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/browser/firefox-logo.png" alt="logo">
                        </td>
                        <td>Mozila Firefox</td>
                        <td align="right">
                            <span class="badge badge-pill badge-success">15%</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/browser/safari-logo.png" alt="logo">
                        </td>
                        <td>Apple Safari</td>
                        <td align="right">
                            <span class="badge badge-pill badge-primary">07%</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/browser/internet-logo.png" alt="logo">
                        </td>
                        <td>Internet Explorer</td>
                        <td align="right">
                            <span class="badge badge-pill badge-warning">09%</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/browser/opera-logo.png" alt="logo">
                        </td>
                        <td>Opera mini</td>
                        <td align="right">
                            <span class="badge badge-pill badge-danger">23%</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/browser/internet-logo.png" alt="logo">
                        </td>
                        <td>Microsoft edge</td>
                        <td align="right">
                            <span class="badge badge-pill badge-cyan">09%</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>