<div class="card border-0">
    <div class="card-body bg-danger">
        <h1 class="font-light text-white m-b-0">
            <span>35
                <sup>°</sup>
            </span>
        </h1>
        <h5 class="font-normal text-white">Clear with periodic clouds</h5>
        <div style="max-width: 100%; height:110px;" class="m-t-20">
            <div class="ct-charts d-flex flex-column">
                <apx-chart [series]="weatherChartOptions.series" [chart]="weatherChartOptions.chart"
                    [xaxis]="weatherChartOptions.xaxis" [yaxis]="weatherChartOptions.yaxis"
                    [grid]="weatherChartOptions.grid" [stroke]="weatherChartOptions.stroke"
                    [tooltip]="weatherChartOptions.tooltip" [dataLabels]="weatherChartOptions.dataLabels"
                    [legend]="weatherChartOptions.legend" [colors]="weatherChartOptions.colors"
                    [markers]="weatherChartOptions.markers">
                </apx-chart>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div>
                <h3 class="font-light m-b-5">Sunday</h3>
                <span class="text-muted">August 2018</span>
            </div>
            <div class="ms-auto">
                <h2>
                    <i class="wi wi-day-sleet text-danger"></i>
                </h2>
            </div>
        </div>
    </div>
</div>
