<div class="card border-0">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h2 class="font-medium mb-0">3456</h2>
                <h5 class="text-muted mb-0">Yearly Sales</h5>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column" style="height: 57px;">
                    <apx-chart [series]="yearlysalesChartOptions.series" [chart]="yearlysalesChartOptions.chart"
                        [xaxis]="yearlysalesChartOptions.xaxis" [yaxis]="yearlysalesChartOptions.yaxis"
                        [grid]="yearlysalesChartOptions.grid" [stroke]="yearlysalesChartOptions.stroke"
                        [tooltip]="yearlysalesChartOptions.tooltip" [dataLabels]="yearlysalesChartOptions.dataLabels"
                        [legend]="yearlysalesChartOptions.legend" [colors]="yearlysalesChartOptions.colors"
                        [markers]="yearlysalesChartOptions.markers" [fill]="yearlysalesChartOptions.fill">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>