<div class="card">
    <div class="row no-gutters">
        <div class="col-md-4 position-relative">
            <div class="card-body">
                <span class="display-6"><span class="font-normal">{{model['day']}}</span></span>
                <h4 class="pb-2 mb-0">{{ dateString }}</h4>
                <span class="weight-border"></span>
                <div class="bottom-text">
                    <a href="#" class="text-info text-uppercase">3 Tasks</a>
                    <h5 class="mb-0 mt-2">Prepare Project</h5>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="bg-primary text-white">
                <ngb-datepicker class="custom-datepicker ng-valid ng-touched ng-dirty cus-calender"
                    (ngModelChange)="onSelectDate($event)" #dp [(ngModel)]="model">
                    <!-- (navigate)="date = $event.next" -->
                </ngb-datepicker>
            </div>
        </div>
    </div>
</div>