<div class="card border-0">
    <div class="card-body">
        <h5 class="card-title text-uppercase">Country Visit</h5>
        <div class="mt-4 d-flex flex-column">
            <apx-chart [series]="ToplocationsChartOptions.series" [chart]="ToplocationsChartOptions.chart"
                [dataLabels]="ToplocationsChartOptions.dataLabels" [plotOptions]="ToplocationsChartOptions.plotOptions"
                [xaxis]="ToplocationsChartOptions.xaxis" [stroke]="ToplocationsChartOptions.stroke"
                [fill]="ToplocationsChartOptions.fill" [yaxis]="ToplocationsChartOptions.yaxis"
                [title]="ToplocationsChartOptions.title" [tooltip]="ToplocationsChartOptions.tooltip"
                [legend]="ToplocationsChartOptions.legend" [grid]="ToplocationsChartOptions.grid"></apx-chart>
        </div>
    </div>
</div>