<div class="card">
    <div class="card-body">
        <h5 class="card-title text-uppercase">Monthly Usage</h5>
        <h2 class="font-medium">$58.80</h2>
        <div style="height: 314px;" class="d-flex flex-column">
            <apx-chart [series]="monthlyusageChartOptions.series" [chart]="monthlyusageChartOptions.chart"
                [plotOptions]="monthlyusageChartOptions.plotOptions" [labels]="monthlyusageChartOptions.labels"
                [fill]="monthlyusageChartOptions.fill">
            </apx-chart>
        </div>
    </div>
</div>