<div class=" cus-container">
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="container">
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-lg-8">
                        <app-expance></app-expance>
                    </div>
                    <div class="col-lg-4">
                        <app-totalsales></app-totalsales>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <app-finance></app-finance>
                    </div>
                    <div class="col-lg-7">
                        <app-calendarwidget></app-calendarwidget>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <app-totalincome></app-totalincome>
                    </div>
                    <div class="col-lg-4">
                        <app-yearlsales></app-yearlsales>
                    </div>
                    <div class="col-lg-4">
                        <app-monthsales></app-monthsales>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <app-weekusage></app-weekusage>
                    </div>
                    <div class="col-lg-6">
                        <app-monthusage></app-monthusage>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <app-comment></app-comment>
                    </div>
                    <div class="col-lg-6">
                        <app-recentsales></app-recentsales>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <app-totalearn></app-totalearn>
                    </div>
                    <div class="col-lg-6">
                        <app-feeds></app-feeds>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>