<div class=" cus-container">
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="container">
                <!-- ============================================================== -->
                <!-- First Cards Row  -->
                <!-- ============================================================== -->
                <app-stats2></app-stats2>
                <!-- ============================================================== -->
                <!-- Country and Visit, Traffic cards Row  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <app-bandwidth-download></app-bandwidth-download>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <app-notification></app-notification>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Country Visit, Weather cards Row  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-lg-6">
                        <app-countryvisit></app-countryvisit>
                    </div>
                    <div class="col-lg-6">
                        <app-monthlysitevisit></app-monthlysitevisit>
                        <app-weeklysitevisit></app-weeklysitevisit>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Sales cards & Carousel Row  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <app-chat></app-chat>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <app-chatlist></app-chatlist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>