<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-md-6 m-b-15 text-center">
                        <small>Total Visits</small>
                        <h2>
                            <i class="ti-arrow-up text-success"></i> 1064
                        </h2>
                        <div class="my-0 mx-auto" style="height: 55px; width: 100px;">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                                chartType="bar">
                            </canvas>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-15 text-center">
                        <small>Total Page Views</small>
                        <h2>
                            <i class="ti-arrow-up text-primary"></i> 5064
                        </h2>
                        <div class="my-0 mx-auto" style="height: 55px; width: 100px;">
                            <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2"
                                [options]="barChartOptions2" [colors]="barChartColors2" [legend]="barChartLegend2"
                                chartType="bar">
                            </canvas>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-15 text-center">
                        <small>Unique Visitor</small>
                        <h2>
                            <i class="ti-arrow-up text-info"></i> 664
                        </h2>
                        <div class="my-0 mx-auto" style="height: 55px; width: 100px;">
                            <canvas baseChart [datasets]="barChartData3" [labels]="barChartLabels3"
                                [options]="barChartOptions3" [colors]="barChartColors3" [legend]="barChartLegend3"
                                chartType="bar">
                            </canvas>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-15 text-center">
                        <small>Bounce Rate</small>
                        <h2>
                            <i class="ti-arrow-down text-danger"></i> 50%
                        </h2>
                        <div class="my-0 mx-auto" style="height: 55px; width: 100px;">
                            <canvas baseChart [datasets]="barChartData4" [labels]="barChartLabels4"
                                [options]="barChartOptions4" [colors]="barChartColors4" [legend]="barChartLegend4"
                                chartType="bar">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>