<div class="card">
    <div class="card-body">
        <h5 class="card-title m-b-5">Referral Earnings</h5>
        <h3 class="font-light">$769.08</h3>
        <div class="text-center mt-3 d-flex flex-column" style="height: 50px;">
            <apx-chart [series]="referralChartOptions.series" [chart]="referralChartOptions.chart"
                [stroke]="referralChartOptions.stroke" [tooltip]="referralChartOptions.tooltip"
                [fill]="referralChartOptions.fill">
            </apx-chart>
        </div>
    </div>
</div>
