<div class="card border-0">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h2 class="mb-0 font-medium">356</h2>
                <h5 class="text-muted mb-0">Monthly Sales</h5>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column" style="height: 57px;">
                    <apx-chart [series]="monshtlysalesChartOptions.series" [chart]="monshtlysalesChartOptions.chart"
                        [xaxis]="monshtlysalesChartOptions.xaxis" [yaxis]="monshtlysalesChartOptions.yaxis"
                        [grid]="monshtlysalesChartOptions.grid" [stroke]="monshtlysalesChartOptions.stroke"
                        [tooltip]="monshtlysalesChartOptions.tooltip"
                        [dataLabels]="monshtlysalesChartOptions.dataLabels" [legend]="monshtlysalesChartOptions.legend"
                        [colors]="monshtlysalesChartOptions.colors" [markers]="monshtlysalesChartOptions.markers"
                        [fill]="monshtlysalesChartOptions.fill">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>