<div class="card border-0">
    <div class="d-flex align-items-center p-3">
        <h5 class="card-title mb-0 text-uppercase">Recent Sales</h5>
        <div class="ms-auto">
            <select class="form-control">
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
            </select>
        </div>
    </div>
    <div class="p-3 bg-light">
        <div class="d-flex align-items-center">
            <div>
                <h2 class="font-normal">March 2017</h2>
                <p class="mb-2 text-uppercase font-14 font-light">Sales Report</p>
            </div>
            <div class="ms-auto">
                <h1 class="text-info mb-0 font-light">$3,690</h1>
            </div>
        </div>
    </div>
    <div class="p-3">
        <div class="table-responsive">
            <table class="table text-muted mb-0 no-wrap recent-table font-light">
                <thead>
                    <tr class="text-uppercase">
                        <th class="border-0">#</th>
                        <th class="border-0">Name</th>
                        <th class="border-0">Status</th>
                        <th class="border-0">Date</th>
                        <th class="border-0">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of data">
                        <td>{{d.id}}</td>
                        <td class="txt-oflo">{{d.name}}</td>
                        <td><span
                                class="badge badge-pill text-uppercase text-white font-medium bg-{{d.color}} label-rouded">{{d.status}}</span>
                        </td>
                        <td class="txt-oflo">{{d.date}}</td>
                        <td><span class="text-success">{{d.price}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>