<div class="card border-0">
    <div class="card-body">
        <div class="d-flex align-items-center mb-3">
            <h5 class="card-title text-uppercase mb-0">Weekly Site Traffic</h5>
            <div class="ms-auto">
                <small class="text-danger"><i class="fas fa-sort-down"></i> 18% High then last month</small>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="p-2 ps-0 border-end">
                <h6 class="font-light">Overall Growth</h6><span class="font-medium">80.40%</span>
            </div>
            <div class="p-2  border-end">
                <h6 class="font-light">Montly</h6><span class="font-medium">20.40%</span>
            </div>
            <div class="p-2">
                <h6 class="font-light">Day</h6><span class="font-medium">5.40%</span>
            </div>
        </div>
    </div>
    <div class="mt-2 d-flex flex-column">
        <apx-chart [series]="weeklysitevisitChartOptions.series" [chart]="weeklysitevisitChartOptions.chart"
            [xaxis]="weeklysitevisitChartOptions.xaxis" [yaxis]="weeklysitevisitChartOptions.yaxis"
            [grid]="weeklysitevisitChartOptions.grid" [stroke]="weeklysitevisitChartOptions.stroke"
            [tooltip]="weeklysitevisitChartOptions.tooltip" [dataLabels]="weeklysitevisitChartOptions.dataLabels"
            [legend]="weeklysitevisitChartOptions.legend" [colors]="weeklysitevisitChartOptions.colors"
            [markers]="weeklysitevisitChartOptions.markers" [fill]="weeklysitevisitChartOptions.fill">
        </apx-chart>
    </div>
</div>