<div class="card">
    <div class="card-body">
        <h5 class="card-title text-uppercase">Recent Comments</h5>
    </div>
    <div class="comment-widgets" [perfectScrollbar]="config">
        <!-- Comment Row -->
        <div class="d-flex flex-row comment-row mt-0 mb-0" *ngFor="let c of comments">
            <div class="p-2">
                <img src="{{c.img}}" alt="user" width="40" class="rounded-circle">
            </div>
            <div class="comment-text w-100">
                <h5 class="font-normal mb-1">{{c.name}}</h5>
                <span class="text-muted mr-2 font-12">10:20 AM 20 may 2016</span>
                <span class="badge badge-{{c.color}} badge-rounded text-uppercase font-medium">{{c.status}}</span>
                <span class="mb-2 d-block font-14 text-muted font-light mt-3">{{c.content}} </span>
            </div>
        </div>
    </div>
</div>
